.search-form{
    padding-top: 50px;
}
h1{
    color: white;
    background-color: black;
    text-align: center;
}
.search-bar input {
    width: 75%;
}
form {
    background-color: #F6B531;
    padding: 80px;
    
}
.label-default{
    background-color: #777777;
}
.label-primary{
    background-color: #337AB7;
}
.label-success{
    background-color: #5CB85C;
}
.label-info{
    background-color: #5BC0DE;
}