.search-form{
    padding-top: 50px;
}
h1{
    color: white;
    background-color: black;
    text-align: center;
}
.search-bar input {
    width: 75%;
}
form {
    background-color: #F6B531;
    padding: 80px;
    
}